<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    <!-- Passing a data object to the translation by the filter -->
    HTML5 {{'BOILER' | translate: language}} is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>


<!-- Passing a data object to the translation by the directive. The best option -->
<p translate="BOILER" translate-values="{{language}}">
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <!-- Translation by a filter -->
  <h2 id="{{headline}}">{{headline}}</h2>

  <!-- Translation by a filter -->
  <p>{{ 'BOILER' | translate }}</p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
